
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Career Repertory Grid - TaigeZ</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="public/assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">职业兴趣测试</a></h1>


      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link" href="/cn">中文</a></li>
          <li><a class="nav-link" href="/">English</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  

  <main id="main">

    <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>职业兴趣测试</h1>
          <h2>由乔治·凯利在1955年提出</h2>
        <h2>基于他的个人建构理论</h2>
        </div>
      </div>
      <div class="text-center">
        <button type="button" class="btn btn-get-started" >开始测试</button>
      </div>

      <div class="row icon-boxes justify-content-center">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-wikipedia"></i></div>
            <h4 class="title"><a href="https://zh.wikipedia.org/wiki/%E5%96%AC%E6%B2%BB%C2%B7%E4%BA%9E%E6%AD%B7%E5%B1%B1%E5%A4%A7%C2%B7%E5%87%B1%E5%88%A9">有关乔治凯利</a></h4>
            <p class="description">美国临床心理学家，人格理论家;1905年4月28日—1967年3月6日</p>
          </div>
        </div>


        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-chat-left-text"></i></div>
            <h4 class="title"><a href="https://zh.wikipedia.org/wiki/%E5%80%8B%E4%BA%BA%E5%BB%BA%E6%A7%8B%E7%90%86%E8%AB%96">有关测试方式</a></h4>
            <p class="description">个人建构的意义──个人用来解释并预测事件的认知结构；它是个人用来构筑、诠释、预言或将经验意义化的过。</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-search"></i></div>
            <h4 class="title"><a href="https://search.worldcat.org/title/217761">有关文献</a></h4>
            <p class="description">"The repertory test". The psychology of personal constructs. Vol. 1. A theory of personality.</p>
          </div>
        </div>


      </div>
    </div>
  </section><!-- End Hero -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>相关信息</h2>
            <p>乔治·亚历山大·凯利（George Alexander Kelly，1905年4月28日—1967年3月6日），凯利的人格理论有一个基本假设和十一项推论。</p>
          </div>
  
          <div class="row justify-content-center">

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
              <div class="member">
                <div class="member-img">
                  <img src="assets/img/kelly.jpg" class="img-fluid">
                </div>
                <div class="member-info">
                  <h4>乔治 凯利</h4>
                  <span>美国临床心理学家、人格理论家。毕业于堪萨斯大学社会学专业；曾任职于俄亥俄州立大学</span>
                </div>
              </div>
            </div>

          </div>
  
        </div>
      </section><!-- End Team Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg" style="display: none;">
      <div id="career_qns" class="container" data-aos="fade-up" style="display: none;">

        <div class="section-title">
          <h2>识别职业</h2>
          <p>写下你现在脑海里能想出来的10个职业</p>
        </div>
        
          


        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <div class="progress" role="progressbar" aria-label="Success example" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-success" style="width: 10%">10%</div>
              </div>
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">现在划过脑海的都有什么职业呢</a>
              <p>
                列举10个职业。请尽可能丰富地列举职业。
                他们可以是你曾经考虑从事的职业；可以是你以前接触过的职业；
                可以是你家人、亲戚、长辈，甚至是陌生人从事的职业；可以是你觉得不现实的职业；
                可以是你讨厌的职业；可以是你自创的职业……开始吧！
              </p>
              <form id="careers-form" class="needs-validation-career" novalidate>
                <div class="form-group">
                    <label for="career1">职业 1:</label>
                    <input type="text" class="form-control" id="career1" name="career1" required>
                    <div class="invalid-feedback">
                      请填写一个职业
                    </div>  
                </div>
                
                
              </form>
              <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-next-career" >下一步</button>
              </div>  
              
            </li>

          </ul>
        </div>

      </div>

      <div id="trait_qns" class="container" data-aos="fade-up" style="display: none;">
        <div class="section-title">
          <h2>识别特质</h2>
          <p>写下10个优秀职业会有的特质</p>
        </div>
        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <div class="progress" role="progressbar" aria-label="Success example" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-success" style="width: 20%">20%</div>
              </div>
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">现在划过脑海的都有什么特质呢</a>
              <p>
                接下来，写下10个你喜欢的职业会有的特质。
                记住，只写你喜欢的对你来说重要的特质。你可以想象一下未来的自己想要哪些特质，哪些特质对你来说是从事这一行必须的？
                这是非常主观的，每个人都会有不同的偏好。这些特质可以是跟职业本身性质有关，例如涉及人际交往，或是更多独立工作，或是要和数字打交道；
                这些特质也可以是和你本身体验有关，例如你想要有趣的、好玩的，或者是让你觉得可控的；这些特质也可以和他能带给你的生活有关，比如待遇好，有社会地位，被家人认可的……
                总之，请诚实地列举对你来说重要的特质，不要评价自己列举的东西。
              </p>
              <form id="traits-form" class="needs-validation-trait" novalidate>
                <div class="form-group">
                    <label for="trait1">特质 1:</label>
                    <input type="text" class="form-control" id="trait1" name="trait1" required>
                    <div class="invalid-feedback">
                      请填写一个特质
                    </div>  
                </div>
              </form>
              <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-next-trait" >下一步</button>
              </div> 
            </li>
          </ul>
        </div>
      </div>

      <div id="trait_impt" class="container" data-aos="fade-up" style="display: none;">
        <div class="section-title">
          <h2>特质重要性排序</h2>
          <p>重新回顾一下你写的特质，看看哪些是最重要的？</p>
        </div>
        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <div class="progress" role="progressbar" aria-label="Success example" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-success" style="width: 30%">30%</div>
              </div>
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">
                给特质排序
              </a>
              <p>
                现在，请把你写的特质从上倒下按照重要性排序。最上面的特质是最重要的，最底下的特质就是最不重要的。
              </p>
              <form id="importance-form" class="needs-validation-impt" novalidate>
              <h3 class="text-center" style="margin: 10px;">最重要的</h3>
                <div id="importance-bars">
                </div>
              <h3 class="text-center" style="margin: 10px;">最不重要的</h3>
              </form>
              <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-next-importance" >下一步</button>
              </div> 
            </li>
          </ul>
        </div>
      </div>


      <div id="result" class="container" data-aos="fade-up" style="display: none;">
        <div class="section-title">
          <h2>测试结果</h2>
          <p>根据职业拼图，得分最高几个职业</p>
        </div>
        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <h4>恭喜你完成了测试！</h4>
              <p>
                我们给你呈现了两个榜单。第一个榜单中各职业得分参考了你的喜好排序，我们称之为加权榜。
                在加权榜中，前面的职业理论上是你最喜欢的职业，他们大致上更符合你偏好的职业特质。
                第二个榜单是未加权榜，我们直接计算了每个职业的总分，没有考虑你的职业特质偏好。所以如果你觉得你列举的职业特质对你来说差不多重要，你可以参考未加权榜；
                但如果你有强烈的职业偏好，我们更建议你参考加权榜。
              </p>
            </li>
            <li data-aos="fade-up">
              
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">加权榜</a>
              <div id="weighted-careers">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">职业</th>
                      <th scope="col">分数</th>
                    </tr>
                  </thead>
                  <tbody id="weighted-table">
                  </tbody>
                </table>
              </div>
            </li>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">未加权榜</a>
              <div id="unweighted-careers">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">职业</th>
                      <th scope="col">分数</th>
                    </tr>
                  </thead>
                  <tbody id="unweighted-table">
                  </tbody>
                </table>
              </div>
            </li>
          </ul>
        </div>
      </div>







    </section><!-- End Frequently Asked Questions Section -->
      

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        网站制作 <a href="https://github.com/taigez">Taige Z.</a> 和 <a href="https://hdfs.illinois.edu/directory/yifanh6">Yifan H.</a>
        
      </div>
      <div class="text-center text-md-right pt-3 pt-md-0">
        <div class="copyright">
            &copy; Copyright <strong><span>OnePage</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/sortable/sortable.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main-cn.js"></script>

</body>

</html>