
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Career Repertory Grid - TaigeZ</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets\img\favicon.png" sizes="16x16" rel="icon">
  <link href="assets\img\favicon2.png" sizes="32x32" rel="icon">
  

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">Career Repertory Grid</a></h1>


      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link" href="/cn">中文</a></li>
          <li><a class="nav-link" href="/">English</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  

  <main id="main">

    <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>Career Repertory Grid</h1>
          <h2>devised by George Kelly in around 1955 </h2>
        <h2>based on his personal construct theory of personality</h2>
        </div>
      </div>
      <div class="text-center">
        <button type="button" class="btn btn-get-started" >Get Started</button>
      </div>

      <div class="row icon-boxes justify-content-center">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-wikipedia"></i></div>
            <h4 class="title"><a href="https://en.wikipedia.org/wiki/George_Kelly_(psychologist)">More on Kelly</a></h4>
            <p class="description">American psychologist, therapist, educator and personality theorist</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-chat-left-text"></i></div>
            <h4 class="title"><a href="https://en.wikipedia.org/wiki/Repertory_grid">More on the Method</a></h4>
            <p class="description">The repertory grid is a technique for identifying the ways that a person construes his or her experience</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-search"></i></div>
            <h4 class="title"><a href="https://search.worldcat.org/title/217761">More on the work</a></h4>
            <p class="description">"The repertory test". The psychology of personal constructs. Vol. 1. A theory of personality.</p>
          </div>
        </div>


      </div>
    </div>
  </section><!-- End Hero -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>About</h2>
            <p>George Alexander Kelly was an American psychologist, therapist, educator and personality theorist. He is considered a founding figure in the history of clinical psychology and is best known for his theory of personality, personal construct psychology.</p>
          </div>
  
          <div class="row justify-content-center">

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
              <div class="member">
                <div class="member-img">
                  <img src="assets/img/kelly.jpg" class="img-fluid" alt="">
                </div>
                <div class="member-info">
                  <h4>George Kelly</h4>
                  <span>American psychologist, therapist, educator and personality theorist</span>
                </div>
              </div>
            </div>

          </div>
  
        </div>
      </section><!-- End Team Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg" style="display: none;">
      <div id="career_qns" class="container" data-aos="fade-up" style="display: none;">

        <div class="section-title">
          <h2>Career Identification</h2>
          <p>Write down the first 10 career position that cames to mind, in any order.</p>
        </div>
        
          


        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <div class="progress" role="progressbar" aria-label="Success example" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-success" style="width: 10%">10%</div>
              </div>
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">What positions are you thinking about?</a>
              <p>
                Think of some jobs! They can be: 
                jobs you have thought of doing anytime in your life; 
                jobs you have done; 
                jobs you might like to do to “get away from it all”; 
                jobs done by members of the family; 
                jobs you would hate; jobs you see others doing; 
                jobs you wanted to create… 
                You may list up to 10 jobs in the following boxes. Please brainstorm!
              </p>
              <form id="careers-form" class="needs-validation-career" novalidate>
                <div class="form-group">
                    <label for="career1">Career 1:</label>
                    <input type="text" class="form-control" id="career1" name="career1" required>
                    <div class="invalid-feedback">
                      Please provide a career position.
                    </div>  
                </div>
                
                
              </form>
              <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-next-career" >Next</button>
              </div>  
              
            </li>

          </ul>
        </div>

      </div>

      <div id="trait_qns" class="container" data-aos="fade-up" style="display: none;">
        <div class="section-title">
          <h2>Traits Identification</h2>
          <p>Write down the top 10 traits that defines a good career position</p>
        </div>
        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <div class="progress" role="progressbar" aria-label="Success example" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-success" style="width: 20%">20%</div>
              </div>
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">What traits are you thinking about?</a>
              <p>
                Now, list 10 qualities of jobs. These qualities should be important to you. 
                You may imagine yourself in the future, what are the necessary qualities or traits for you to be committed to and happy with this job? 
                This is very subjective and everyone has their preferences in job qualities. 
                You may list important qualities regarding its characteristics 
                (e.g., engaging in social interactions, individual work, dealing with numbers), 
                experience (e.g., fun, exciting, predictable), the life it can provide (e.g., earning, social status, acceptance from family)... 
                Be honest with yourself and do not judge yourself with whatever you listed. 
              </p>
              <form id="traits-form" class="needs-validation-trait" novalidate>
                <div class="form-group">
                    <label for="trait1">Trait 1:</label>
                    <input type="text" class="form-control" id="trait1" name="trait1" required>
                    <div class="invalid-feedback">
                      Please provide a trait.
                    </div>  
                </div>
              </form>
              <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-next-trait" >Next</button>
              </div> 
            </li>
          </ul>
        </div>
      </div>

      <div id="trait_impt" class="container" data-aos="fade-up" style="display: none;">
        <div class="section-title">
          <h2>Traits Importance Ranking</h2>
          <p>How imporant is the trait for a good career position</p>
        </div>
        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <div class="progress" role="progressbar" aria-label="Success example" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-success" style="width: 30%">30%</div>
              </div>
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">
                Reorder the traits based on their importance
              </a>
              <p>
                Now, please order the qualities! Drag the qualities and order them based on their importance. 
                The top quality is the most important one to you, and the bottom one is the least important.
              </p>
              <form id="importance-form" class="needs-validation-impt" novalidate>
              <h3 class="text-center" style="margin: 10px;">Most Important</h3>
                <div id="importance-bars">
                </div>
              <h3 class="text-center" style="margin: 10px;">Least Important</h3>
              </form>
              <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-next-importance" >Next</button>
              </div> 
            </li>
          </ul>
        </div>
      </div>


      <div id="result" class="container" data-aos="fade-up" style="display: none;">
        <div class="section-title">
          <h2>Final Result</h2>
          <p>Your weighted and unweighted Careers based on CRG</p>
        </div>
        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <h4>Congratulations on finishing the survey! </h4>
              <p>
                Here are the results! We gave the weighted and unweighted ranks for all the jobs you provided. 
                The first rank is the weighted rank based on your ordering process. The top jobs on the weighted rank are those with more important qualities. Theoretically, they are the jobs you will love the most! Also, we provided an unweighted rank below by summing up your ratings for every job. 
                The top ones are the jobs that have the highest average ratings on all qualities. 
                If every quality is similarly important to you, you may refer to the unweighted rank,
                 but if you strongly prefer some qualities over the other, you may refer to the weighted rank.
              </p>
            </li>
            <li data-aos="fade-up">
              
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Weighted</a>
              <div id="weighted-careers">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Career</th>
                      <th scope="col">Score</th>
                    </tr>
                  </thead>
                  <tbody id="weighted-table">
                  </tbody>
                </table>
              </div>
            </li>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Unweighted</a>
              <div id="unweighted-careers">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Career</th>
                      <th scope="col">Score</th>
                    </tr>
                  </thead>
                  <tbody id="unweighted-table">
                  </tbody>
                </table>
              </div>
            </li>
          </ul>
        </div>
      </div>







    </section><!-- End Frequently Asked Questions Section -->
      

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        Made by <a href="https://github.com/taigez">Taige Z.</a> and <a href="https://hdfs.illinois.edu/directory/yifanh6">Yifan H.</a>
        
      </div>
      <div class="text-center text-md-right pt-3 pt-md-0">
        <div class="copyright">
            &copy; Copyright <strong><span>OnePage</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/sortable/sortable.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>